.formio-component-radio .show-as-buttons .form-check {
  width: 100%;
  margin-bottom: var(--spacing-super-mini);
  padding: 0;
  background-color: none;
}

.formio-component-radio .show-as-buttons .form-radio {
  display: flex;
  justify-content: space-between;
}

.formio-component-radio .show-as-buttons .form-check-input {
  opacity: 0;
  width: 0;
  position: absolute;
}

.formio-component-radio .show-as-buttons .form-check {
  width: calc(50% - (var(--spacing-mini) / 2));
}

.formio-component-radio
  .show-as-buttons
  .form-check:not(:nth-child(1)):not(:nth-child(2)) {
  display: none;
}

.formio-component-radio .show-as-buttons .form-check-label {
  width: 100%;
  padding: 0;
  border: none;
  background: none !important;
}

.formio-component-radio .show-as-buttons input[type="radio"] {
  flex-shrink: 0;
  flex-grow: 0;
}

.formio-component-radio .show-as-buttons span {
  font-size: var(--form-input-size) !important;
  padding: var(--spacing-mini) !important;
  width: 100%;
  border: 2px solid var(--semi-grey);
  background-color: var(--white) !important;
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

@media screen and(min-width: 1000px) {
  .formio-component-radio .show-as-buttons span {
    padding: var(--spacing-mini) var(--spacing-small) !important;
  }
}

.formio-component-radio .show-as-buttons input[type="radio"] + span::after {
  content: "" !important;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--icon-big) !important;
  height: var(--icon-big) !important;
  background-size: contain;
  background-position: center;
}

.formio-component-radio
  .show-as-buttons
  .form-check:nth-child(1)
  input[type="radio"]
  + span:after {
  background-image: url("../../images/tick.svg");
}

.formio-component-radio
  .show-as-buttons
  .form-check:nth-child(2)
  input[type="radio"]
  + span:after {
  background-image: url("../../images/close.svg");
}

.formio-component-radio .show-as-buttons span:hover {
  border: 2px solid var(--dark-grey);
  background-color: var(--super-light-grey) !important;
  color: var(--black) !important;
}

.formio-component-radio .show-as-buttons input[type="radio"]:checked + span {
  color: var(--black) !important;
  border: 2px solid var(--blue);
  background-color: var(--blue-10) !important;
}

/* ERROR STYLES */

.formio-component-radio.formio-error-wrapper
  .show-as-buttons
  input[type="radio"]
  + span {
  border: 2px solid var(--danger);
  background-color: var(--danger-20) !important;
}
