.formio-hidden {
  margin: 0 !important;
  border: none !important;
}

.form-control:disabled,
.form-control[readonly] {
  background: transparent;
  color: #000;
}

.zeitstempel .input-group-append {
  display: none;
}

.zeitstempel input {
  border: none;
  padding: 0;
}
