.text-muted {
  color: var(--dark-grey) !important;
}

.wizard-page {
  padding-top: var(--spacing-small);
}

@media (min-width: 675px) {
  .wizard-page {
    scroll-margin-top: 270px;
  }
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  width: 100% !important;
}

.formio-choices .dropdown {
  height: calc(1.5em + 0.75rem + 2px) !important;
}

.choices__list {
  padding: 0;
  font-size: 16px;
}

hr {
  border: 1px solid;
  border-color: var(--mid-grey);
}

h1.form-title {
  background: white;
  margin-bottom: 0;
  padding: 15px 15px;
  border-radius: 5px 5px 0px 0px;
  color: var(--dark-grey);
  font-size: 1rem;
  border-bottom: 2px solid var(--semi-grey);
}

@media screen and (min-width: 600px) {
  h1.form-title {
    padding: 15px 45px;
    font-size: 1.4rem;
  }
}

.card {
  border: 2.5px solid var(--mid-grey);
}

.formio-sketchpad-toolbar-button-line,
.formio-sketchpad-toolbar-button-circle,
.formio-sketchpad-toolbar-button-rectangle,
.formio-sketchpad-toolbar-button-zoomIn,
.formio-sketchpad-toolbar-button-zoomOut,
.formio-sketchpad-toolbar-button-dragImage,
.formio-sketchpad-toolbar-button-stroke,
.formio-sketchpad-toolbar-button-fill,
.formio-sketchpad-toolbar-button-width,
.formio-sketchpad-toolbar-button-resetZoom {
  display: none !important;
}

.formio-sketchpad-header {
  float: left;
}

.formio-sketchpad-toolbar {
  background: var(--blue);
}

.linkliste ul {
  list-style-type: none !important;
  padding-left: 15px;
}
.linkliste li:before {
  content: "\2197" !important;
  margin-left: -25px;
  padding-right: 10px;
}
.linkliste li {
  padding-left: 15px;
}
.linkliste li,
.faqliste li {
  padding-bottom: 0px;
}

.linkliste fieldset legend {
  margin: 0 0 0.5em 0 !important;
}
