.fa-question-circle::before {
  content: "?";
  font-family: var(--font);
  color: var(--blue);
  border: 1px solid;
  width: 1.3em !important;
  height: 1.3em !important;
  line-height: 1em;
  font-size: 0.6em;
  display: block;
  border-radius: 100%;
  text-align: center;
  margin: 0.25em;
  padding: 0.1em;
  font-weight: 700;
}

.fa-plus::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../../images/plus-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 0.5em;
  display: inline-block;
}
