.formio-component-textfield,
.formio-component-addresssearch,
.formio-component-phoneNumber,
.formio-component-email,
.formio-component-textarea,
.formio-component-number,
.formio-component-url,
.formio-component-file,
.formio-component-map,
.formio-component-select,
.formio-component-selectboxes,
.formio-component-editgrid,
.formio-component-day {
  margin-bottom: var(--spacing-small) !important;
  display: flex;
  flex-direction: column;
}

.formio-component-textfield .form-text,
.formio-component-addresssearch .form-text,
.formio-component-phoneNumber .form-text,
.formio-component-email .form-text,
.formio-component-textarea .form-text,
.formio-component-number .form-text,
.formio-component-url .form-text,
.formio-component-file .form-text,
.formio-component-map .form-text,
.formio-component-select .form-text,
.formio-component-selectboxes .form-text,
.formio-component-editgrid .form-text,
.formio-component-day .form-text {
  order: 2;
}

@media screen and (min-width: 600px) {
  .formio-component-textfield .form-text,
  .formio-component-addresssearch .form-text,
  .formio-component-phoneNumber .form-text,
  .formio-component-email .form-text,
  .formio-component-textarea .form-text,
  .formio-component-number .form-text,
  .formio-component-url .form-text,
  .formio-component-file .form-text,
  .formio-component-map .form-text,
  .formio-component-select .form-text,
  .formio-component-selectboxes .form-text,
  .formio-component-editgrid .form-text,
  .formio-component-day .form-text {
    max-width: 50%;
  }

  .formio-component-textfield .pull-right,
  .formio-component-addresssearch .pull-right,
  .formio-component-phoneNumber .pull-right,
  .formio-component-email .pull-right,
  .formio-component-textarea .pull-right,
  .formio-component-number .pull-right,
  .formio-component-url .pull-right,
  .formio-component-file .pull-right,
  .formio-component-map .pull-right,
  .formio-component-select .pull-right,
  .formio-component-selectboxes .pull-right,
  .formio-component-editgrid .pull-right,
  .formio-component-day .pull-right {
    position: absolute;
    right: 0;
    margin-top: 4px;
  }
}

.formio-component-textfield .form-control,
.formio-component-addresssearch .form-control,
.formio-component-phoneNumber .form-control,
.formio-component-email .form-control,
.formio-component-textarea .form-control,
.formio-component-number .form-control,
.formio-component-url .form-control,
.formio-component-file .form-control,
.formio-component-map .form-control,
.formio-component-select .form-control,
.formio-component-selectboxes .form-control,
.formio-component-editgrid .form-control,
.formio-component-day .form-control {
  color: var(--black) !important;
  height: unset !important;
  font-size: var(--form-input-size) !important;
  line-height: 1.4em !important;
  border: 2px solid var(--border-color);
  border-radius: 0;
  padding: var(--spacing-super-mini) var(--spacing-mini);
}

.formio-component-textfield .form-control:focus,
.formio-component-addresssearch .form-control:focus,
.formio-component-phoneNumber .form-control:focus,
.formio-component-email .form-control:focus,
.formio-component-textarea .form-control:focus,
.formio-component-number .form-control:focus,
.formio-component-url .form-control:focus,
.formio-component-file .form-control:focus,
.formio-component-map .form-control:focus,
.formio-component-select .form-control:focus,
.formio-component-selectboxes .form-control:focus,
.formio-component-editgrid .form-control:focus,
.formio-component-day .form-control:focus {
  border: 2px solid var(--blue) !important;
  box-shadow: unset;
}

.formio-component-textfield input::placeholder,
.formio-component-addresssearch input::placeholder,
.formio-component-phoneNumber input::placeholder,
.formio-component-email input::placeholder,
.formio-component-textarea textarea::placeholder,
.formio-component-number input::placeholder,
.formio-component-url input::placeholder,
.formio-component-file input::placeholder,
.formio-component-map input::placeholder,
.formio-component-select input::placeholder,
.formio-component-selectboxes input::placeholder,
.formio-component-editgrid input::placeholder,
.formio-component-day input::placeholder {
  color: var(--semi-grey) !important;
}

.formio-component-textfield .input-group-prepend,
.formio-component-textfield .input-group-append,
.formio-component-addresssearch .input-group-prepend,
.formio-component-addresssearch .input-group-append,
.formio-component-phoneNumber .input-group-prepend,
.formio-component-phoneNumber .input-group-append,
.formio-component-email .input-group-prepend,
.formio-component-email .input-group-append,
.formio-component-textarea .input-group-prepend,
.formio-component-textarea .input-group-append,
.formio-component-number .input-group-prepend,
.formio-component-number .input-group-append,
.formio-component-url .input-group-prepend,
.formio-component-url .input-group-append,
.formio-component-file .input-group-prepend,
.formio-component-file .input-group-append,
.formio-component-map .input-group-prepend,
.formio-component-map .input-group-append,
.formio-component-select .input-group-prepend,
.formio-component-select .input-group-append,
.formio-component-selectboxes .input-group-prepend,
.formio-component-selectboxes .input-group-append,
.formio-component-editgrid .input-group-prepend,
.formio-component-editgrid .input-group-append,
.formio-component-day .input-group-prepend,
.formio-component-day .input-group-append {
  border: none;
  background-color: var(--light-grey);
}

.formio-component-textfield .input-group-text,
.formio-component-addresssearch .input-group-text,
.formio-component-phoneNumber .input-group-text,
.formio-component-email .input-group-text,
.formio-component-textarea .input-group-text,
.formio-component-number .input-group-text,
.formio-component-url .input-group-text,
.formio-component-file .input-group-text,
.formio-component-map .input-group-text,
.formio-component-select .input-group-text,
.formio-component-selectboxes .input-group-text,
.formio-component-editgrid .input-group-text,
.formio-component-day .input-group-text {
  border: none;
  background: none;
}

.formio-component-select .formio-select-autocomplete-input,
.formio-component-day .row .col .formio-select-autocomplete-input {
  display: none;
}

/* ALL FORM LABELS */

fieldset .formio-component-textfield .col-form-label,
fieldset .formio-component-addresssearch .col-form-label,
fieldset .formio-component-phoneNumber .col-form-label,
fieldset .formio-component-email .col-form-label,
fieldset .formio-component-textarea .col-form-label,
fieldset .formio-component-number .col-form-label,
fieldset .formio-component-url .col-form-label,
fieldset .formio-component-file .col-form-label,
fieldset .formio-component-map .col-form-label,
fieldset .formio-component-day .col-form-label,
fieldset .formio-component-select .col-form-label,
fieldset .formio-component-editgrid .col-form-label,
fieldset .formio-component-groupedapiradios .radio h3,
fieldset .formio-component-radio .col-form-label,
fieldset fieldset legend  {
  color: var(--black) !important;
  font-size: var(--label-size) !important;
  font-weight: 400 !important;
  line-height: 1.4em !important;
  padding-top: 0 !important;
  display: inline-block !important;
}

fieldset .formio-component-groupedapiradios .radio h3,
fieldset .formio-component-groupedapiradios .col-form-label {
  font-weight: 700 !important;
}

.formio-component-textfield .col-form-label,
.formio-component-addresssearch .col-form-label,
.formio-component-phoneNumber .col-form-label,
.formio-component-email .col-form-label,
.formio-component-textarea .col-form-label,
.formio-component-number .col-form-label,
.formio-component-url .col-form-label,
.formio-component-file .col-form-label,
.formio-component-map .col-form-label,
.formio-component-day .col-form-label,
.formio-component-select .col-form-label,
.formio-component-editgrid .col-form-label,
.formio-component-groupedapiradios .col-form-label,
.formio-component-groupedapiradios .radio h3,
.formio-component-radio .col-form-label  {
  color: var(--black) !important;
  font-size: var(--font-22px) !important;
  font-weight: 700 !important;
  line-height: var(--line-height) !important;
  padding-top: 0 !important;
  display: inline-block !important;
  margin: var(--spacing-small) 0 0.5em 0;
}

@media screen and (min-width: 1000px) {
  .formio-component-textfield .col-form-label,
  .formio-component-addresssearch .col-form-label,
  .formio-component-phoneNumber .col-form-label,
  .formio-component-email .col-form-label,
  .formio-component-textarea .col-form-label,
  .formio-component-number .col-form-label,
  .formio-component-url .col-form-label,
  .formio-component-file .col-form-label,
  .formio-component-map .col-form-label,
  .formio-component-day .col-form-label,
  .formio-component-select .col-form-label,
  .formio-component-editgrid .col-form-label,
  .formio-component-groupedapiradios .col-form-label,
  .formio-component-groupedapiradios .radio h3,
  .formio-component-radio .col-form-label {
    font-size: var(--font-28px) !important;
  }
}

.formio-component-editgrid > .col-form-label {
  font-weight: 400 !important;
  padding-top: 0 !important;
}

.formio-component-select .col label,
.formio-component-day .col label {
  font-size: 16px !important;
  font-weight: 400 !important;
}

label.field-required {
  position: relative;
}

label.field-required::after {
  content: "*" !important;
  color: var(--danger) !important;
}

.formio-component-day .row label.field-required::after {
  margin-left: 0.25em;
}

.formio-component-select select {
  background-image: url("../../images/arrow-small.svg");
  background-repeat: no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-position: right var(--spacing-mini) top 50%, 0 0;
  background-size: var(--icon-small) auto, 100%;
}

.formio-component-select select::-ms-expand {
  display: none;
}

/* ERROR STYLES */
.formio-component-adresssuche.formio-error-wrapper .form-control,
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: var(--danger) !important;
  background-image: url("../../images/warning-red.svg") !important;
  background-repeat: no-repeat;
  background-position: right var(--spacing-mini) center !important;
  background-size: 18px 18px !important;
}
